header {
  background-color: rgba(35, 35, 35, 1);
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
  font-size: 20pt;
  font-weight: 700;
}

.tickerDisplay {
  background-color: black;
  padding: 5px;
}

.stockDiv {
  border: solid 2px rgba(70, 70, 70, 1);
  margin: 5px;
  padding: 10px 20px 5px 20px;
  display: flex;
  justify-content: space-between;

}

.symbol {
  color: white;
  font-size: 16pt;
  font-weight: 600;
}

.companyName {
  color: rgba(70, 70, 70, 1);
  font-weight: 500;
  font-size: 9pt;
}

.priceAndPercentDiv {
  position: relative;
  border: solid blue 2px;
  width:fit-content;
}

.latestPrice {
  background-color: gray;
  color: white;
  font-size: 11pt;
  display: flex;
  position: absolute;
    top: 0px;
    right: 0px;

}

.changePercent {
  color: white;
  font-size: 11pt;
  position: absolute;
  right: 0px;
  bottom: 0px;


}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
